{% extends 'layout.html'%}
{% block body %}
<h1>Все мои книги</h1>
{% for book in books %}
<ul>
    <li> Название: {{ book.name }}</li>
    <li> Автор: {{ book.author }}</li>
    <li>
        <a href="{{ url_for ('books_by_genre', genre_id=book.genre_id) }}"> Жанр: {{ book.genre.name }} </a>
    </li>
    <li> Дата создания: {{book.added }}</li>

    <form action="/update_status/{{ book.id }}" method="post">
        <label for="is_read">Прочитана</label>
        {% if book.is_read %}
        <input type="checkbox" name="is_read" value='check_read' checked="checked">
        {% else %}
        <input type="checkbox" name="is_read" value='check_read'>
        {% endif %}
        <button type="submit">Сохранить</button>
    </form>


</ul>
<hr>
{% endfor %}

{% endblock %}